<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.lendenclub.testclass.Investor_Registration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_0010LiveKYCPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_004RegistrationFeesPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_001OnboardingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_009AddBankAccountPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_006BasicDetailsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_003IdDetailsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_002SignUPPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_007SetPasswordPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_008ConfirmAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_005LegalAutorizationPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
