<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="856572">  <td>22/05/04 14:04:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_0010LiveKYCPage()[pri:10, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_0010LiveKYCPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:00:03</td>   <td>-256523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_001OnboardingPage()[pri:1, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_001OnboardingPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:00:06</td>   <td>-253742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_002SignUPPage()[pri:2, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_002SignUPPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:00:33</td>   <td>-227330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_003IdDetailsPage()[pri:3, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_003IdDetailsPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:00:35</td>   <td>-224798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_004RegistrationFeesPage()[pri:4, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_004RegistrationFeesPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:01:08</td>   <td>-191509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_005LegalAutorizationPage()[pri:5, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_005LegalAutorizationPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:01:14</td>   <td>-185507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_006BasicDetailsPage()[pri:6, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_006BasicDetailsPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:02:07</td>   <td>-132722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_007SetPasswordPage()[pri:7, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_007SetPasswordPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:03:53</td>   <td>-26562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_008ConfirmAddress()[pri:8, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_008ConfirmAddress</td> 
  <td>main@28145535</td>   <td></td> </tr>
<tr bgcolor="856572">  <td>22/05/04 14:04:02</td>   <td>-18069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Investor_Registration.test_009AddBankAccountPage()[pri:9, instance:com.lendenclub.testclass.Investor_Registration@433ffad1]">test_009AddBankAccountPage</td> 
  <td>main@28145535</td>   <td></td> </tr>
</table>
